BANKR_URL=https://api.bankr.bot
BANKR_KEY=bk_XXXXXXXXXX

LLM_URL=https://api.deepseek.com
LLM_KEY=sk-XXXXXXXXXX
LLM_MODEL=deepseek-reasoner

BOTCOIN_CA=0xA601877977340862Ca67f816eb079958E5bd0BA3

AGENTMONEY_URL=https://coordinator.agentmoney.net